html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    font-family: "Quicksand", sans-serif;
    max-width: 800px;
    line-height: 1.5;
    padding: 2% 5%;
}

.converterForm {
    max-width: 450px;
    color: white;
    background-image: linear-gradient(to bottom,
            rgb(248, 217, 91),
            rgb(146, 102, 6));
    padding: 30px;
    margin: 8% auto;
    border-radius: 20px;
    text-shadow: 1px 1px rgb(156, 124, 8);
    box-shadow: 1px 1px 10px 1px rgb(157, 157, 155);
}

.converterForm__legend {
    color: white;
    background-image: linear-gradient(to bottom,
            rgb(248, 217, 91),
            rgb(197, 145, 34),
            rgb(197, 145, 34),
            rgb(197, 145, 34),
            rgb(197, 145, 34),
            rgb(146, 102, 6));
    padding: 10px;
    border-radius: 20px;
    text-shadow: 1px 1px rgb(156, 124, 8);
    margin: auto;
}

.jsQuantity {
    max-width: 80px;
    text-align: center;
}

.jsResult {
    padding: 5%;
    font-size: 44px;
}

.clearButton {
    padding: 5px;
    border-radius: 20px;
    color: #eee;
    background-color: #8d8c87;
    text-align: center;
    font-size: 16px;
    margin: auto;
}

.header {
    font-size: 24px;
    padding: 10px;
    border-radius: 50px;
    color: #eee;
    text-align: center;
    background-image: linear-gradient(to bottom,
            rgb(141, 113, 3),
            rgb(86, 60, 10));
}

.footer {
    font-size: 12px;
    padding: 10px;
    border-radius: 20px;
    color: #eee;
    text-align: center;
    background-image: linear-gradient(to bottom,
            rgb(141, 113, 3),
            rgb(86, 60, 10));
}